[submodule "roles/user/files/archlinux"]
	path = roles/user/files/archlinux
	url = https://github.com/tyjak/archlinux
[submodule "roles/base/files/slim-theme-archlinux-solarized"]
	path = roles/base/files/slim-theme-archlinux-solarized
	url = https://github.com/tyjak/slim-theme-archlinux-solarized
